h2{
    text-decoration-style: double;
    text-decoration-thickness: 10px;
}
table, th, td {
    border: 1px solid black;
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}
