@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

.form-input {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state-select {
  font-size: 1.05rem;
}

.state-label {
  font-size: .9rem;
  text-align: center;
}

.submit-form {
  padding: 20px;
  text-align: center;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.welcome {
  position: absolute;
  top: 8%;
  right: 2%;
}

.edit-info {
  text-align: center;
  margin-top: -100%;
}

.info-display {
  padding: 10%;
  align-items: left;
  justify-content: left;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.form-login {
  display: block;
  position: relative;
}

.form-login:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #0071E2, #6FFACC);
}

.form-login .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

.form-login .form-inner h2 {
  color: #888;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-login .form-inner .form-group {
  display: block;
  width: 400px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 20px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #6FFACC;
}

.form-login .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #e9e9e9;
  border-radius: 8px;
  transition: 0.4s;
}

.form-login .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.form-login .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #0071E2 50%, #0071E2 50%, #6FFACC);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.form-login .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}

.form-login .button-register {
  position: relative;
  float: right;
  font-size: 16px;
}

.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav-item {
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #111;
}